@import "./Pages/Home/index";
@import "./Pages/Favorites/index";
@import "./Pages/Filter/Sales/index";
@import "./Pages/Filter/Creator/index";
@import "./Pages/Nft/index";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  letter-spacing: 2px;
  transition: all 0.4s ease-out;
}

h1 {
  color: white;
}

h3 {
  margin-bottom: 10px;
}

main {
  margin-top: -50px;
  margin-bottom: 40px;
}
details {
  width: 150px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav ul li {
    padding-right: 30px;

    a {
      color: white;
      font-size: 25px;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .formSelect {
    display: flex;

    form {
      margin: 0px;
      padding-right: 40px;

      input {
        padding: 0px;
        margin: 0px !important;
        border: none;
        border-bottom: 1px solid white;
        border-radius: 0px;
      }
    }

    select {
      margin: 0;
      width: 250px;
    }

    p {
      margin: 0;
    }
  }
}

// CARDS
.cards,
.searchcards {
  .card,
  .searchcard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 44px;

    article {
      padding: 32px;
      margin: 0;
      position: relative;
      cursor: pointer;
      transition: all 0.5s ease-out;

      &:hover {
        transform: scale(1.1);
        transform: translateX(-3);
      }

      .card__img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }

      .card__container__price {
        display: flex;
        position: absolute;
        bottom: 32px;
        right: 32px;
        justify-content: end;

        img {
          width: 30px;
          height: 30px;
        }
      }
      svg {
        position: absolute;
        z-index: 10;
        left: 5%;
        bottom: 7%;
        &.favorite {
          color: rgb(213, 218, 222);
          &.is {
            color: #d7373f;
          }
        }
        &:hover{
          transform: scale(1.1);
        }
      }

      .card__name {
        padding-top: 8px;
        color: rgb(190, 155, 242);
      }

      .card__sales {
        margin: 0;
        bottom: 0;
        right: 32px;
      }
    }
  }
}

//Chart

.isHidden {
  display: none !important;
}

.isDisplayed {
  display: block;
}

.chart__circle {
  display: flex;
  padding: 100px 0;
}

.chart__bar {
  padding-bottom: 40px;
}

.nft_cards {
  width: 100%;
  height: 80%;
  background-color: red;
}

//search ELements
#searchElements {
  flex-direction: column;
  gap: 0.25rem;
  display: none;
}

.element-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  margin-top: 1rem;
  border: 1px solid black;
}

.hide {
  display: none;
}
