.container.home {
  margin-top: 4rem;
}

.container .title {
  text-transform: uppercase;
  text-align: right;
  margin: 0;
}

.container .nft__name {
  color: #be9bf2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-align: right;
  padding-right: 80px;
}

.container .container__nft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .container__nft .nft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .container__nft .nft .nft__inner {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .container__nft .nft .nft__inner .nft__image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.container .container__nft .nft .nft__inner .nft__container__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.container .container__nft .nft .nft__inner .nft__container__price h5 {
  margin: 0;
}

.container .container__nft .nft .nft__inner .nft__container__price .image__eth {
  width: 30px;
}

.container .container__nft .nft .nft__container__description {
  width: 60%;
  padding: 24px;
  background-color: white;
  position: absolute;
  color: black !important;
  bottom: -100px;
  right: 0;
  margin: 0;
}

.container .container__nft .nft .nft__container__description h3 {
  color: black;
  margin-bottom: 16px;
}

.container .container__nft .nft .nft__container__description .nft__description {
  margin: 0;
}

.container .container__nft .nft__discover {
  width: 40%;
  text-align: right;
  color: #be9bf2;
  padding-right: 10px;
  padding-top: 6px;
  cursor: pointer;
  background-color: #12191f;
}

.container .container__nominees {
  margin-top: 10rem;
}

.container .container__collections {
  margin-top: 10rem;
}

.container .container__collections h2 {
  margin-bottom: none;
}

.container .container__collections figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .container__collections figure article.collections {
  cursor: pointer;
  position: relative;
  background-color: #2f4254;
  margin: 0 1rem;
  width: 300px;
  height: 300px;
}

.container .container__collections figure .collection_image {
  display: inline-block;
  border-radius: 4px;
  width: 90px;
  height: 90px;
  margin-bottom: 9px;
}

.container .container__collections figure .collection_name {
  text-align: center;
  font-size: small;
}

.container .container__collections figure .collection_icon {
  position: absolute;
  top: 80%;
  left: 72%;
  width: 40px;
  height: 40px;
}

.container .container__collections figure .collection_modal_header {
  position: relative;
}

.container .container__collections figure .collection_modal_header .close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.container .container__all__Nft {
  margin-top: 10rem;
}

.container .container__all__Nft .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .container__all__Nft .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  margin: 3rem auto;
}

.container .container__all__Nft .pagination a {
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: 16px;
}

.container .container__all__Nft .pagination a.active {
  color: #3dd5d5;
}

.container .container__all__Nft .pagination .prev,
.container .container__all__Nft .pagination .next {
  width: 130px;
  height: 60px;
  font-size: medium;
  position: relative;
}

.container .container__all__Nft .pagination img {
  display: inline-block;
  position: absolute;
  top: 38%;
}

.container .container__all__Nft .pagination img.chevron_right {
  right: 8px;
}

.container .container__all__Nft .pagination img.chevron_left {
  left: 8px;
}

.container.fav {
  margin-top: 4rem;
}

.container.fav .container_favorites {
  margin: 2rem 0;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.container.fav .container_favorites .fav_card {
  margin: 1rem 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 10px;
  width: 60%;
  height: 8rem;
}

.container.fav .container_favorites .fav_card svg {
  position: absolute;
  cursor: pointer;
  right: 3%;
  top: 15%;
}

.container.fav .container_favorites .fav_card svg.favorite {
  color: #d5dade;
}

.container.fav .container_favorites .fav_card svg.favorite.is {
  color: #d7373f;
}

.container.fav .container_favorites .fav_card.hide {
  display: none;
}

.container.fav .container_favorites .fav_card .fav_img {
  position: absolute;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  bottom: 26px;
}

.container.fav .container_favorites .fav_card .fav_img img {
  border-radius: 5px;
}

.container.fav .container_favorites .fav_card .fav_info {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: #083651;
}

.container.fav .container_favorites .fav_card .fav_info p:nth-of-type(1) {
  position: absolute;
  left: 28%;
  top: 30%;
}

.container.fav .container_favorites .fav_card .fav_info p:nth-of-type(2) {
  position: absolute;
  left: 26%;
  top: 50%;
}

.container__input {
  width: 50%;
  text-align: center;
  padding-bottom: 80px;
  padding-top: 4rem;
}

.isHidden {
  display: none !important;
}

.isDisplayed {
  display: block;
}

.lalala {
  display: none !important;
}

article.creator .creator_name {
  color: #317e9f;
  text-transform: uppercase;
}

.container.creators {
  margin-top: 4rem;
}

#NFT {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-bottom: 2rem;
}

#NFT__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#NFT__first img {
  border-radius: 0.5rem;
}

#NFT__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 500px;
  gap: 2rem;
}

#NFT__second__principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#NFT__second__principal__collection {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-weight: 400;
  color: #787878;
}

#NFT__second__principal__name {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-weight: 500;
  color: #bd9bf2;
  font-size: 1.5rem;
}

#NFT__second__secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1.15rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#NFT__second__secondary > div {
  background-color: #242424;
  width: 45%;
  height: 5rem;
  overflow: scroll;
  border-radius: 0.1rem;
  -webkit-box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
}

#NFT__second__secondary__address {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#NFT__second__secondary__address::before {
  content: "Address";
  margin-bottom: 0.1rem;
  position: relative;
  display: block;
  color: #787878;
  font-weight: normal;
}

#NFT__second__secondary__nbSales {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#NFT__second__secondary__nbSales::before {
  content: "Number of sales";
  margin-bottom: 0.1rem;
  position: relative;
  display: block;
  color: #787878;
  font-weight: normal;
}

#NFT__second__secondary__dateCreation {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

#NFT__second__secondary__dateCreation::before {
  content: "Date of creation";
  margin-bottom: 0.1rem;
  position: relative;
  display: block;
  color: #787878;
  font-weight: normal;
}

#NFT__second__secondary__owner {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

#NFT__second__secondary__owner::before {
  content: "Owner";
  margin-bottom: 0.1rem;
  position: relative;
  display: block;
  color: #787878;
  font-weight: normal;
}

#NFT__second__secondary__permalink {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

#NFT__second__secondary__permalink::before {
  content: "Permalink";
  margin-bottom: 0.1rem;
  position: relative;
  display: block;
  color: #787878;
  font-weight: normal;
}

#NFT__description {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
}

#NFT__description::before {
  content: "Description";
  margin-bottom: 0.1rem;
  position: relative;
  display: block;
  color: #787878;
  font-weight: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  letter-spacing: 2px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

h1 {
  color: white;
}

h3 {
  margin-bottom: 10px;
}

main {
  margin-top: -50px;
  margin-bottom: 40px;
}

details {
  width: 150px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  padding-right: 30px;
}

header nav ul li a {
  color: white;
  font-size: 25px;
}

header nav ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

header .formSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .formSelect form {
  margin: 0px;
  padding-right: 40px;
}

header .formSelect form input {
  padding: 0px;
  margin: 0px !important;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0px;
}

header .formSelect select {
  margin: 0;
  width: 250px;
}

header .formSelect p {
  margin: 0;
}

.cards .card,
.cards .searchcard,
.searchcards .card,
.searchcards .searchcard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 44px;
}

.cards .card article,
.cards .searchcard article,
.searchcards .card article,
.searchcards .searchcard article {
  padding: 32px;
  margin: 0;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.cards .card article:hover,
.cards .searchcard article:hover,
.searchcards .card article:hover,
.searchcards .searchcard article:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform: translateX(-3);
          transform: translateX(-3);
}

.cards .card article .card__img,
.cards .searchcard article .card__img,
.searchcards .card article .card__img,
.searchcards .searchcard article .card__img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards .card article .card__container__price,
.cards .searchcard article .card__container__price,
.searchcards .card article .card__container__price,
.searchcards .searchcard article .card__container__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 32px;
  right: 32px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.cards .card article .card__container__price img,
.cards .searchcard article .card__container__price img,
.searchcards .card article .card__container__price img,
.searchcards .searchcard article .card__container__price img {
  width: 30px;
  height: 30px;
}

.cards .card article svg,
.cards .searchcard article svg,
.searchcards .card article svg,
.searchcards .searchcard article svg {
  position: absolute;
  z-index: 10;
  left: 5%;
  bottom: 7%;
}

.cards .card article svg.favorite,
.cards .searchcard article svg.favorite,
.searchcards .card article svg.favorite,
.searchcards .searchcard article svg.favorite {
  color: #d5dade;
}

.cards .card article svg.favorite.is,
.cards .searchcard article svg.favorite.is,
.searchcards .card article svg.favorite.is,
.searchcards .searchcard article svg.favorite.is {
  color: #d7373f;
}

.cards .card article svg:hover,
.cards .searchcard article svg:hover,
.searchcards .card article svg:hover,
.searchcards .searchcard article svg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cards .card article .card__name,
.cards .searchcard article .card__name,
.searchcards .card article .card__name,
.searchcards .searchcard article .card__name {
  padding-top: 8px;
  color: #be9bf2;
}

.cards .card article .card__sales,
.cards .searchcard article .card__sales,
.searchcards .card article .card__sales,
.searchcards .searchcard article .card__sales {
  margin: 0;
  bottom: 0;
  right: 32px;
}

.isHidden {
  display: none !important;
}

.isDisplayed {
  display: block;
}

.chart__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

.chart__bar {
  padding-bottom: 40px;
}

.nft_cards {
  width: 100%;
  height: 80%;
  background-color: red;
}

#searchElements {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
  display: none;
}

.element-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  margin-top: 1rem;
  border: 1px solid black;
}

.hide {
  display: none;
}
/*# sourceMappingURL=styles.css.map */