.container.fav {
  margin-top: 4rem;

  .container_favorites {
    margin: 2rem 0;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;

    .fav_card {
      margin: 1rem 0;
      overflow: hidden;
      display: flex;
      position: relative;
      border-radius: 10px;
      width: 60%;
      height: 8rem;

      svg {
        position: absolute;
        cursor: pointer;
        right: 3%;
        top: 15%;
        &.favorite {
          color: rgb(213, 218, 222);
          &.is {
            color: #d7373f;
          }
        }
      }

      &.hide {
        display: none;
      }

      .fav_img {
        position: absolute;
        flex: 1;
        bottom: 26px;
        img {
          border-radius: 5px;
        }
      }
      .fav_info {
        flex: 2;
        color: rgb(8, 54, 81);

        & p:nth-of-type(1) {
          position: absolute;
          left: 28%;
          top: 30%;
        }
        & p:nth-of-type(2) {
          position: absolute;
          left: 26%;
          top: 50%;
        }
      }
    }
  }
}
