#NFT {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-bottom: 2rem;

  &__first {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 0.5rem;
    }
  }

  &__second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 500px;
    gap: 2rem;

    &__principal {
      display: flex;
      flex-direction: column;

      &__collection {
        order: 1;
        font-weight: 400;
        color: #787878;
      }

      &__name {
        order: 2;
        font-weight: 500;
        color: #bd9bf2;
        font-size: 1.5rem;
      }
    }

    &__secondary {
      display: flex;
      column-gap: 1rem;
      row-gap: 1.15rem;
      flex-wrap: wrap;

      & > div {
        background-color: #242424;
        width: 45%;
        height: 5rem;
        overflow: scroll;
        border-radius: 0.1rem;
        box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.2);
        // display: flex;
        flex-direction: column;
        // justify-content: center;
        padding: 1rem;
        font-size: 0.75rem;
        display: flex;
        // justify-content: space-evenly;
        font-weight: 600;
      }

      &__address {
        order: 1;
        &::before {
          content: "Address";
          margin-bottom: 0.1rem;
          position: relative;
          display: block;
          color: #787878;
          font-weight: normal;
        }
      }

      &__nbSales {
        order: 2;

        &::before {
          content: "Number of sales";
          margin-bottom: 0.1rem;
          position: relative;
          display: block;
          color: #787878;
          font-weight: normal;
        }
      }

      &__dateCreation {
        order: 4;
        &::before {
          content: "Date of creation";
          margin-bottom: 0.1rem;
          position: relative;
          display: block;
          color: #787878;
          font-weight: normal;
        }
      }

      &__owner {
        order: 4;
        &::before {
          content: "Owner";
          margin-bottom: 0.1rem;
          position: relative;
          display: block;
          color: #787878;
          font-weight: normal;
        }
      }

      &__permalink {
        order: 4;
        &::before {
          content: "Permalink";
          margin-bottom: 0.1rem;
          position: relative;
          display: block;
          color: #787878;
          font-weight: normal;
        }
      }
    }
  }

  &__description {
    order: 3;
    grid-area: 2 / 1 / 3 / 3;

    &::before {
      content: "Description";
      margin-bottom: 0.1rem;
      position: relative;
      display: block;
      color: #787878;
      font-weight: normal;
    }
  }
}