<div class="container">
  <div id="NFT">
    <div id="NFT__first">
      <img id="NFT__image" src="" alt="NFT image" />
    </div>
    <div id="NFT__second">
      <div id="NFT__second__principal">
        <div id="NFT__second__principal__name"></div>
        <div id="NFT__second__principal__collection"></div>
      </div>
      <div id="NFT__second__secondary">
        <div id="NFT__second__secondary__nbSales"></div>
        <div id="NFT__second__secondary__dateCreation"></div>
        <div id="NFT__second__secondary__address"></div>
        <div id="NFT__second__secondary__owner"></div>
        <div id="NFT__second__secondary__permalink"></div>
      </div>
    </div>
    <div id="NFT__description"></div>
  </div>
</div>
