.container {
  &.home {
    margin-top: 4rem;
  }

  //NTF OF THE DAY
  .title {
    text-transform: uppercase;
    text-align: right;
    margin: 0;
  }

  .nft__name {
    color: rgb(190, 155, 242);
    // color: #3693b5;
    display: flex;
    justify-content: right;
    text-align: right;
    padding-right: 80px;
  }

  .container__nft {
    display: flex;
    flex-direction: column;

    .nft {
      display: flex;
      position: relative;
      justify-content: space-between;

      .nft__inner {
        width: 48%;
        display: flex;
        flex-direction: column;

        .nft__image {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }

        .nft__container__price {
          display: flex;
          align-items: center;
          padding-bottom: 30px;

          h5 {
            margin: 0;
          }

          .image__eth {
            width: 30px;
          }
        }
      }

      .nft__container__description {
        width: 60%;
        padding: 24px;
        background-color: white;
        position: absolute;
        color: black !important;
        bottom: -100px;
        right: 0;
        margin: 0;

        h3 {
          color: black;
          margin-bottom: 16px;
        }

        .nft__description {
          margin: 0;
        }
      }
    }

    .nft__discover {
      width: 40%;
      text-align: right;
      color: rgb(190, 155, 242);
      padding-right: 10px;
      padding-top: 6px;
      cursor: pointer;
      background-color: #12191f;
    }
  }

  // NOMINEES
  .container__nominees {
    margin-top: 10rem;
  }

  .container__collections {
    margin-top: 10rem;

    h2 {
      margin-bottom: none;
    }

    figure {
      display: flex;
      justify-content: space-around;

      article.collections {
        cursor: pointer;
        position: relative;
        background-color: #2f4254;
        margin: 0 1rem;
        width: 300px;
        height: 300px;
      }
      .collection_image {
        display: inline-block;
        border-radius: 4px;
        width: 90px;
        height: 90px;
        margin-bottom: 9px;
      }
      .collection_name {
        text-align: center;
        font-size: small;
      }
      .collection_icon {
        position: absolute;
        top: 80%;
        left: 72%;
        width: 40px;
        height: 40px;
      }
      .collection_modal_header {
        position: relative;

        .close {
          position: absolute;
          top: 20px;
          right: 20px;
          cursor: pointer;
        }
      }
    }
  }

  .container__all__Nft {
    margin-top: 10rem;
    .cards {
      display: flex;
      justify-content: center;
    }
    .pagination {
      display: flex;
      justify-content: space-around;
      width: 60%;
      margin: 3rem auto;

      a {
        display: inline-block;
        cursor: pointer;
        position: relative;
        top: 16px;

        &.active {
          color: rgb(82, 190, 190);
        }
      }

      .prev,
      .next {
        width: 130px;
        height: 60px;
        font-size: medium;
        position: relative;
      }
      img {
        display: inline-block;
        position: absolute;
        top: 38%;

        &.chevron_right {
          right: 8px;
        }
        &.chevron_left {
          left: 8px;
        }
      }
    }
  }
}
