<main class="container home">
  <h1
    class="title"
    data-aos="fade-left"
    data-aos-duration="1000"
    data-aos-delay="400"
  >
    NFT of the day
  </h1>
  <h1
    class="nft__name"
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-delay="500"
  ></h1>
  <section class="container__nft">
    <div class="nft">
      <div
        class="nft__inner"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-delay="700"
        data-aos-once="true"
      >
        <img
          alt="ntf picture"
          class="nft__image"
          src="https://lh3.googleusercontent.com/YcMZ0HIzQvZF94M_-_lZDjicfPX77B9M4TexLqZ7NM8UDwJtZAFOcsBsMzQHjYHfzFTua4yxK6JuDnp9LaWBo_qdQ3Qm1SHMgE0q"
        />
      </div>
      <div
        class="nft__inner"
        data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-once="true"
        data-aos-delay="700"
      >
        <div class="nft__container__price">
          <h5 class="nft__price">Sales : &nbsp;</h5>
        </div>
        <h5 class="nft__date">Creation : &nbsp;</h5>
        <h5 class="nft__username">Creator : &nbsp;</h5>
        <h5 class="nft__owner">Owner : &nbsp;</h5>
      </div>
      <article
        class="nft__container__description"
        data-aos="fade-up"
        data-aos-once="true"
        data-aos-duration="1000"
        data-aos-delay="450"
      >
        <h3>Description</h3>
        <p class="nft__description"></p>
      </article>
    </div>
    <a
      href=""
      target="_blank"
      class="nft__discover"
      class="nft__container__description"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="700"
      data-aos-once="true"
      >Discover openSea &#8599;</a
    >
  </section>
  <section
    class="container__nominees"
    class="nft__container__description"
    data-aos="fade-down"
    data-aos-duration="1300"
    data-aos-delay="300"
    data-aos-once="true"
  >
    <h2 class="container__nominees__title">First 12 nominees 🔥</h2>
    <div class="cards nominees">
      <div class="card"></div>
    </div>
  </section>

  <section class="container__collections">
    <h2>
      All Collections<img
        alt="collections icon"
        src="../../Assets/collections.svg"
      />
    </h2>
    <figure class="nft__collections"></figure>
  </section>

  <section class="container__all__Nft">
    <h2>All NTFs <img alt="nft_icon" src="../../Assets/nft.svg" /></h2>
    <div class="cards">
      <div class="card"></div>
    </div>
    <div class="pagination">
      <button class="prev">
        <img
          class="chevron_left"
          alt="chevron left"
          src="../../Assets/chevron-left.svg"
        />
        previous
      </button>
      <a class="active">1</a>
      <a class="">2</a>
      <a class="">3</a>
      <a class="">4</a>
      <a class="">5</a>
      <button class="next">
        next
        <img
          class="chevron_right"
          alt="chevron right"
          src="../../Assets/chevron-right.svg"
        />
      </button>
    </div>
  </section>
</main>
<footer class="container"></footer>
