.container__input {
  width: 50%;
  text-align: center;
  padding-bottom: 80px;
  padding-top: 4rem;
}

.isHidden {
  display: none!important;
}
.isDisplayed {
  display: block;
}

.lalala {
  display: none!important;
}