<main class="container">
  <div class="container__input">
    <input type="range" value="9999" id="priceInput" min="0" max="9999" />
    <span class="priceValue"></span>
  </div>
  <div class="cards">
    <div class="card"></div>
  </div>
</main>
